[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "POD"]
	path = POD
	url = https://github.com/markusboenn/pod
[submodule "fitteR"]
	path = fitteR
	url = https://github.com/cran/fitteR
